@font-face {
    font-family: "titleFont";
    src: url("../../assets/fonts/titleFont.woff") format("woff");
}

@font-face {
    font-family: "mainFont";
    src: url("../../assets/fonts/mainFont.woff") format("woff");
}

body {
    height: 100%;
    height: 100vh;
    color: white;
    font-family: mainFont !important;
    opacity: 1;
    word-spacing: 10px;
    position: relative; 

    /*Background image:*/
    background-image: url("../images/background.png");

    /* Full height */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .bg { */
    /* Background image:
    background-image: url("../images/background.png");

    /* Full height */
    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
/* } */

#wrapper {
    height: 100%;
    height: 100vh;
    min-height: 100%;
    min-height: 100vh;
}

.mainArea {
    background-color: rgba(67, 176, 71, 0.9);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    /* border: solid white 2px; */
    border-radius: 5px;
}

/* Shadow for Text */
.txtShadow {
    text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
}

h1 {
    font-family: "titleFont";
}

/* Used to store result image style */
.images {
    border: solid white 2px;
    border-radius: 5px;
    max-width: 100%;
    height: 20rem; 
    background-color: white;
}

.soundImgs {
    height: 60px;
    width: 60px;
    -webkit-filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.7));
    filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.7));
}

#speaker {
    margin-right: 0px !important;
    -webkit-transition: all 0.1s ease; /* Safari */
    transition: all 0.1s ease;
}

#soundtrack {
    margin-left: 0px !important;
    -webkit-transition: all 0.1s ease; /* Safari */
    transition: all 0.1s ease;
}

.soundImgs:hover {
    height: 65px;
    width: 65px;
}

#startbtn {
    font-weight: bold;
    animation-iteration-count: infinite;
}

.btn-dark:hover {
    font-weight: 100;
    border: solid white 2px;
}

#winBox, #lossBox, #remainingBox, #missBox, #missBoxResult, #lossBoxResult, #winBoxResult  {
    background-image: url("../images/box.jpg");
    background-size: cover;
    height: 60px;
    width: 60px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    /* vertical-align: middle; */
}

.figure-caption {
    color: white;
}

.choices {
    word-spacing: inherit;    
}

/* Modal Styling */
.modal-content {
    background-color: rgba(67, 176, 71, 1);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    border: solid white 2px;
    border-radius: 5px;
}

.close {
    color: black;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}